/* Project: oneTea Mobile - Date: 20130419 - Author: C2iS.fr > DJO */

// Import functions + reset
@import "../components/c2is-less/functions.less";
@import "../components/c2is-less/reset.less";


/* VARIABLES */
@colorBlack:#000000; //black
@colorWhite:#ffffff; //black

/* LAYOUT */

//Generic

//Header
@headerHeight:40px;
header{position:fixed;top:0;width:100%;height:@headerHeight;line-height:@headerHeight;text-align:center;background:@colorBlack;
    &.fixed ~ .content{padding-top:@headerHeight}
    a{display:block;color:@colorWhite;text-decoration:none}
}

//footer
@footerHeight:40px;
footer{position:fixed;bottom:0;width:100%;height:@footerHeight;line-height:40px;text-align:center;background:@colorBlack;
    p{color:@colorWhite;}
}


//content
.content{
    &.footerActif{padding-bottom:@footerHeight}
}

/* /LAYOUT */

/*Import Plugins styles*/
@import "plugins.less";
@import "../components/c2is-less/mq.less";

/*Import Print*/
@import "print.less";
