/* Project: oneTea Mobile - Date: 20130419 - Author: C2iS.fr > DJO */

// Import functions + reset
@import "../components/c2is-less/functions.less";
@import "../components/c2is-less/reset.less";

/* VARIABLES */
@colorBlack:#000000; //black
@colorWhite:#ffffff; //black

/* LAYOUT */

//Header
header{position:fixed;top:0;width:100%;height:40px;line-height:40px;text-align:center;background:@colorBlack;
    a{display:block;color:@colorWhite;text-decoration:none}
}

//footer
footer{position:fixed;bottom:0;width:100%;height:40px;line-height:40px;text-align:center;background:@colorBlack;
    p{color:@colorWhite;}
}

header.fixed ~ .content{padding-top:40px}



/* /LAYOUT */

/*Import Plugins styles*/
@import "plugins.less";
@import "../components/c2is-less/mq.less";

/*Import Print*/
@import "print.less";
