# c2is-onetea
# http://github.com/c2is/c2is-onetea
# @author C2iS - front-end team

# IDE
/.idea

# nodeJS npm
node_modules
npm-*.log
grunt.settings.local.json

# not wanted files
.DS_Store
*/.DS_Store
.tmp
